<p>
    <mat-toolbar>
        <span>My Application</span>
    </mat-toolbar>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Prize</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">{{product.id}}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.value }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <i (click)="changeEditMode(true, product)" class="far fa-edit"></i>
                <i (click)="deleteItemById(product)" class="far fa-trash-alt"></i>
            </td>

        </tr>

    </tbody>
</table>

<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add product
            </mat-panel-title>
            <mat-panel-description>
                Type product's data
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="productForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" [value]="selectedProduct.name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Prize</mat-label>
                <span matPrefix>R$ &nbsp;</span>
                <input matInput type="number" min="1" formControlName="value" [value]="selectedProduct.value">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Quantity</mat-label>
                <input matInput type="number" min="1" formControlName="quantity" [value]="selectedProduct.quantity">
            </mat-form-field>


            <p *ngIf="editMode">You're on the edit mode. Press the button to exit</p>
            <button (click)="changeEditMode(false, null)" *ngIf="editMode">Cancel</button>
            <button type="button" (click)="updateItem()" *ngIf="editMode">Update</button>
            <button (click)="insertProduct()" *ngIf="!editMode" type="button">Save</button>

        </form>

    </mat-expansion-panel>
</mat-accordion>