<p>
    <mat-toolbar>
        <span>My Application</span>
    </mat-toolbar>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Prize</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" (click)="setClickedRow(product)">
            <th scope="row">{{product.id}}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.value }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <i class="far fa-edit"></i>
                <i (click)="deleteItemById()" class="far fa-trash-alt"></i>
            </td>

        </tr>

    </tbody>
</table>

<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add product
            </mat-panel-title>
            <mat-panel-description>
                Type product's data
            </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="productForm" (ngSubmit)="insertProduct()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Prize</mat-label>
                <span matPrefix>R$ &nbsp;</span>
                <input matInput type="number" min="1" formControlName="value">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Quantity</mat-label>
                <input matInput type="number" min="1" formControlName="quantity">
            </mat-form-field>

            <button type="submit">Save</button>

        </form>

    </mat-expansion-panel>
</mat-accordion>