<p>
    <mat-toolbar>
        <span>My Application</span>
    </mat-toolbar>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Prize</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">{{product.id}}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.value }}</td>
            <td>{{ product.quantity }}</td>
        </tr>

    </tbody>
</table>
<button mat-fab color="basic" aria-label="Example icon button with a delete icon">
  <i class="far fa-edit"></i>
</button>

<button mat-fab color="warn" aria-label="Example icon button with a delete icon">
  <i class="far fa-trash-alt"></i>
</button>

<button mat-fab color="primary" aria-label="Example icon button with a delete icon">
  <i class="fas fa-plus"></i>
</button>